.clock {
	position: absolute;
	top: 10%; left : 70%;
	transform: translateX(-50%) translateY(-50%);
	color: #17D4FE;
	font-size: 20px;
	font-family: Orbitron;
	letter-spacing: 5px;
	left: 100%;
}

.navbar-nav li a {

	padding-top: 90px;
	padding-bottom: 0;
}

.jumbotron {
	padding-bottom: 0;
	margin-bottom: 18px;
}