.clock {
	position: absolute;
	top: 10%; left : 90%;
	transform: translateX(-50%) translateY(-50%);
	color: #17D4FE;
	font-size: 20px;
	font-family: Orbitron;
	letter-spacing: 7px;
	left: 90%;
}

.navbar-nav li a {
	padding-top: 70px;
	padding-bottom: 0;
}

.jumbotron {
	padding-bottom: 0;
	margin-bottom: 10px;
}